body {
  margin: 0;
  min-width: 100%;
  background-image: url("/src/assets/img/ps2.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
  pointer-events: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.carousel img {
  height: 400px;
  object-fit: fill;
}

/* responsivo */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* Chrome, Edge, Opera */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 10px;
}
